# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Gradle
.gradle/
build/

# Maven
target/
.flattened-pom.xml
/it.units.malelab.jgea.core/src/main/java/it/units/malelab/jgea/core/representation/graph/prolog/analysis/
